@media (min-width:767px) and (max-width: 1023px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .header_years__1969 {
        margin-left: 0;
        margin-top: 120px;
    }

    .header_years__1969_year {
        display: flex;
        margin-bottom: 24px
    }

    .header_years__1969_text {
        margin-left: 68px;
        width: 364px;
    }

    .header_years__1969_circle {
        left: 44px;
    }

    .header_years__1969_year-text {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        display: block;
        margin-left: 12px;
        margin-top: 14px;
    }

    .header_years__1997 {
        margin-top: 365px;
        margin-left: -108px;
    }

    .header_years__1997_text {
        margin-left: 62px
    }

    .header_years__1997_year-text {
        margin-left: 18px;
    }

    .header_years__2008 {
        margin-top: -99px;
    }

    .header_years__2008_figure-dotted {
        left: 284px;
        bottom: 452px;
    }

    .header_years__2008_canvas {
        top: 209px;
    }

    .header_years__2008_text {
        margin-left: 68px;
        max-width: 300px;
    }

    .oxford_images__canvas {
        top: 178px;
        left: -104px;
    }

    .oxford_images__left {
        top: 472px;
    }

    .oxford_images__left_text {
        top: 120px;
        left: 64px;
        max-width: 237px;
    }

    .oxford_images__left_zag {
        top: 54px;
        left: 64px;
    }

    .oxford_images__left_image {
        background-image: url(/image/Oxford2Tablet.jpg);
        width: 372px;
        height: 319px;
    }

    .oxford_images__right {
        margin-top: 103px;
        max-width: 378px;
    }

    .oxford_images__right_text {
        z-index: 0;
    }

    .oxford_images__right_image {
        background-image: url(/image/OksfordTablet.jpg);
        max-width: 383px;
    }

    .oxford_images__right_textBlock {
        padding-left: 27px;
        width: 357px;
        height: 342px;
    }

    .oxford_images__right_cups-dotted {
        background-image: url(/image/dotted.svg);
        width: 113px;
        height: 1px;
        margin-left: 5px;
    }

    .oxford_images__right_cups-circle {
        right: 79px;
        top: 13px;

    }

    .oxford_images__right_cups-text {
        right: 0px;
        top: 19px;
    }

    .oxford_images__right_cup-left {
        margin-top: -27px;
    }

    .oxford_images__right_cup-right {
        margin-top: -27px;
    }

    .footer_blocks__big_points {
        display: none;
    }

    .footer_blocks__big {
        grid-area: 1/1/2/2;
        width: 227px;
        height: 227px;
    }

    .footer_blocks__big_canvas {
        top: 15px;
        left: 19px;
    }

    .footer_blocks__block1 {
        grid-area: 1/2/3/4;
        max-width: 233px;
        max-height: 231px;
    }

    .footer_blocks__block1_canvas {
        top: 10px;
        left: 6px;
    }

    .footer_blocks__block1_text {
        bottom: 10px;
    }

    .footer_blocks__yellow {
        grid-area: 1/3/2/4;
        max-width: 234px;
        max-height: 227px;
    }

    .footer_blocks__yellow_text {
        bottom: 8px;
    }

    .footer_blocks__block2 {
        grid-area: 2/1/3/2;
        max-width: 234px;
        max-height: 231px;
    }

    .footer_blocks__block2_text {
        bottom: 5px;
    }

    .footer_blocks__block3 {
        grid-area: 2/2/3/3;
        max-width: 233px;
        max-height: 231px;
    }

    .footer_blocks__block3_text {
        bottom: 12px;

    }

    .footer_blocks__block4 {
        grid-area: 2/3/3/4;
        max-width: 234px;
        max-height: 231px;
    }

    .footer_blocks__block4_ {
        bottom: 12px;
    }

    .footer_background {
        transform: rotate(347deg);
        top: -53px;
    }
}