@font-face {
  font-family: "Circe";
  src: url("/fonts/circe.eot");
  src: url("/fonts/circe.eot?#iefix") format("embedded-opentype"), url("/fonts/circe.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
}

.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
}

.center {
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
}

.header_years {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_years__1969 {
  position: relative;
  margin-top: 152px;
  margin-left: 25px;
  max-height: 200px;
}

.header_years__1969_circle {
  position: absolute;
  top: 9px;
  left: 34px;
  z-index: -1;
}

.header_years__1969_year {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
  margin-bottom: 29px;
}

.header_years__1969_text {
  margin-left: 90px;
  max-width: 448px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header_years__1969_year-text {
  display: none;
}

.header_years__1997 {
  position: relative;
  max-width: 500px;
  min-height: 136px;
  margin-top: 411px;
  margin-left: 29px;
}

.header_years__1997_triangle {
  position: absolute;
  top: -18px;
  left: 11px;
  border-radius: 10px;
  z-index: -1;
}

.header_years__1997_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
  margin-bottom: 15px;
}

.header_years__1997_year-text {
  margin-left: 8px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.header_years__1997_text {
  margin-left: 91px;
  max-width: 405px;
  min-height: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header_years__2008 {
  position: absolute;
  top: -11px;
  max-width: 427px;
  min-height: 725px;
  margin-top: -53px;
}

.header_years__2008_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
}

.header_years__2008_year-text {
  margin-left: 8px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.header_years__2008_text {
  margin-top: 13px;
  margin-left: 114px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header_years__2008_canvas {
  position: relative;
  top: 364px;
  left: -178px;
  z-index: -1;
}

.header_years__2008_canvas-mobile {
  display: none;
}

.header_years__2008_figure-dotted {
  position: relative;
  left: 292px;
  bottom: 479px;
  min-height: 250px;
  max-width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_years__2008_dotted {
  position: absolute;
  z-index: -1;
}

.header_years__2008_ellipse1 {
  position: relative;
  top: -2px;
}

.oxford_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.oxford_images__right {
  min-height: 280px;
  margin-top: 97px;
  position: relative;
}

.oxford_images__right_image {
  background-image: url(../image/Oksford.jpg);
  background-repeat: no-repeat;
  width: 580px;
  height: 280px;
}

.oxford_images__right_textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 48px;
  background-color: #a5e5f4;
  width: 752px;
  height: 298px;
  margin-top: -4px;
}

.oxford_images__right_text {
  max-width: 537px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  z-index: 2;
}

.oxford_images__right_cups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
}

.oxford_images__right_cups-dotted {
  background-image: url(/image/dotted.svg);
  width: 288px;
  height: 1px;
  margin-left: 20px;
}

.oxford_images__right_cup-left {
  margin-top: -15px;
  margin-right: 6px;
}

.oxford_images__right_cup-right {
  margin-top: -15px;
}

.oxford_images__right_cups-circle {
  position: absolute;
  right: 288px;
  z-index: -1;
}

.oxford_images__right_cups-text {
  position: absolute;
  top: 23px;
  right: 208px;
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 115%;
}

.oxford_images__left {
  top: 422px;
  position: relative;
}

.oxford_images__left_image {
  background-image: url(/image/Oxford2.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 319px;
}

.oxford_images__left_zag {
  position: absolute;
  top: 96px;
  left: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
  color: #ffffff;
}

.oxford_images__left_text {
  position: absolute;
  top: 163px;
  left: 127px;
  max-width: 321px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}

.oxford_images__canvas {
  position: absolute;
  top: 164px;
  left: -99px;
}

.oxford_images.oxford_show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.footer {
  position: relative;
}

.footer_blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  margin-top: 125px;
  position: relative;
  margin-bottom: 125px;
  opacity: 0;
}

.footer_blocks__block1 {
  max-width: 265px;
  max-height: 265px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
}

.footer_blocks__block1_canvas {
  position: absolute;
  top: 14px;
  left: 27px;
}

.footer_blocks__block1_text {
  position: absolute;
  bottom: 20px;
  left: 19px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  padding-right: 10px;
}

.footer_blocks__big {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  width: 550px;
  height: 265px;
  position: relative;
}

.footer_blocks__big_canvas {
  position: absolute;
  top: 22px;
  left: 25px;
}

.footer_blocks__big_points {
  position: absolute;
  top: 58px;
  right: 57px;
}

.footer_blocks__big_text {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
}

.footer_blocks__yellow {
  background: #ffe267;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  width: 265px;
  height: 265px;
  position: relative;
}

.footer_blocks__yellow_canvas {
  position: absolute;
  top: 13px;
  left: 19px;
}

.footer_blocks__yellow_canvas-mobile {
  display: none;
}

.footer_blocks__yellow_text {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  padding-right: 27px;
}

.footer_blocks__yellow_pointer {
  position: absolute;
  bottom: 72px;
  right: 60px;
}

.footer_blocks__block2 {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: #ffffff;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  width: 265px;
  height: 265px;
  position: relative;
}

.footer_blocks__block2_canvas {
  position: absolute;
  top: 9px;
  left: 18px;
}

.footer_blocks__block2_text {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  padding-right: 10px;
  padding-bottom: 8px;
}

.footer_blocks__block3 {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: #ffffff;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  width: 265px;
  height: 265px;
  position: relative;
}

.footer_blocks__block3_canvas {
  position: absolute;
  top: 9px;
  left: 26px;
}

.footer_blocks__block3_text {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  padding-right: 38px;
}

.footer_blocks__block4 {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: #ffe267;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  width: 265px;
  max-height: 265px;
  position: relative;
}

.footer_blocks__block4_arrow {
  position: absolute;
  top: 32px;
  left: 24px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer_blocks__block4_text {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
}

.footer_blocks.footer_show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.footer_background {
  background: #f4f4f4;
  z-index: -2;
  width: 200%;
  height: 210%;
  -webkit-transform: rotate(343deg);
          transform: rotate(343deg);
  position: absolute;
  left: -20px;
  top: -108px;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header_years__1969 {
    margin-left: 0;
    margin-top: 120px;
  }
  .header_years__1969_year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
  }
  .header_years__1969_text {
    margin-left: 68px;
    width: 364px;
  }
  .header_years__1969_circle {
    left: 44px;
  }
  .header_years__1969_year-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: block;
    margin-left: 12px;
    margin-top: 14px;
  }
  .header_years__1997 {
    margin-top: 365px;
    margin-left: -108px;
  }
  .header_years__1997_text {
    margin-left: 62px;
  }
  .header_years__1997_year-text {
    margin-left: 18px;
  }
  .header_years__2008 {
    margin-top: -99px;
  }
  .header_years__2008_figure-dotted {
    left: 284px;
    bottom: 452px;
  }
  .header_years__2008_canvas {
    top: 209px;
  }
  .header_years__2008_text {
    margin-left: 68px;
    max-width: 300px;
  }
  .oxford_images__canvas {
    top: 178px;
    left: -104px;
  }
  .oxford_images__left {
    top: 472px;
  }
  .oxford_images__left_text {
    top: 120px;
    left: 64px;
    max-width: 237px;
  }
  .oxford_images__left_zag {
    top: 54px;
    left: 64px;
  }
  .oxford_images__left_image {
    background-image: url(/image/Oxford2Tablet.jpg);
    width: 372px;
    height: 319px;
  }
  .oxford_images__right {
    margin-top: 103px;
    max-width: 378px;
  }
  .oxford_images__right_text {
    z-index: 0;
  }
  .oxford_images__right_image {
    background-image: url(/image/OksfordTablet.jpg);
    max-width: 383px;
  }
  .oxford_images__right_textBlock {
    padding-left: 27px;
    width: 357px;
    height: 342px;
  }
  .oxford_images__right_cups-dotted {
    background-image: url(/image/dotted.svg);
    width: 113px;
    height: 1px;
    margin-left: 5px;
  }
  .oxford_images__right_cups-circle {
    right: 79px;
    top: 13px;
  }
  .oxford_images__right_cups-text {
    right: 0px;
    top: 19px;
  }
  .oxford_images__right_cup-left {
    margin-top: -27px;
  }
  .oxford_images__right_cup-right {
    margin-top: -27px;
  }
  .footer_blocks__big_points {
    display: none;
  }
  .footer_blocks__big {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    width: 227px;
    height: 227px;
  }
  .footer_blocks__big_canvas {
    top: 15px;
    left: 19px;
  }
  .footer_blocks__block1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2/3/4;
    max-width: 233px;
    max-height: 231px;
  }
  .footer_blocks__block1_canvas {
    top: 10px;
    left: 6px;
  }
  .footer_blocks__block1_text {
    bottom: 10px;
  }
  .footer_blocks__yellow {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
    max-width: 234px;
    max-height: 227px;
  }
  .footer_blocks__yellow_text {
    bottom: 8px;
  }
  .footer_blocks__block2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    max-width: 234px;
    max-height: 231px;
  }
  .footer_blocks__block2_text {
    bottom: 5px;
  }
  .footer_blocks__block3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
    max-width: 233px;
    max-height: 231px;
  }
  .footer_blocks__block3_text {
    bottom: 12px;
  }
  .footer_blocks__block4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/3/4;
    max-width: 234px;
    max-height: 231px;
  }
  .footer_blocks__block4_ {
    bottom: 12px;
  }
  .footer_background {
    -webkit-transform: rotate(347deg);
            transform: rotate(347deg);
    top: -53px;
  }
}

@media (min-width: 319px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 166px);
    padding-right: calc(50% - 166px);
  }
  .header_years {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header_years__1969 {
    margin-top: 127px;
    margin-left: 1px;
  }
  .header_years__1969_circle {
    top: -36px;
    left: -65px;
  }
  .header_years__1969_text {
    margin-left: 23px;
    max-width: 300px;
  }
  .header_years__1969_year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_years__1969_year-text {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-top: 15px;
  }
  .header_years__1997 {
    margin-top: 242px;
    margin-left: 83px;
  }
  .header_years__1997_triangle {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    top: 58px;
    left: -176px;
  }
  .header_years__1997_text {
    margin-left: 28px;
    max-width: 220px;
  }
  .header_years__2008 {
    margin-top: 232px;
  }
  .header_years__2008_figure-dotted {
    left: 22px;
    bottom: 680px;
  }
  .header_years__2008_canvas {
    display: none;
  }
  .header_years__2008_canvas-mobile {
    position: relative;
    display: block;
    top: 511px;
    right: -147px;
    z-index: -1;
  }
  .header_years__2008_text {
    margin-left: 30px;
    margin-top: 28px;
  }
  .header_years__2008_year-text {
    margin-left: 12px;
  }
  .oxford_images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    top: 228px;
  }
  .oxford_images__right_image {
    background-image: url(/image/OksfordMobile.jpg);
    width: 333px;
    height: 278px;
  }
  .oxford_images__right_textBlock {
    width: 375px;
    height: 361px;
    margin-left: -47px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .oxford_images__right_text {
    max-width: 325px;
    margin-top: 11px;
  }
  .oxford_images__right_cups {
    top: 287px;
  }
  .oxford_images__right_cups-dotted {
    display: none;
  }
  .oxford_images__right_cups-text {
    right: 235px;
    top: 19px;
  }
  .oxford_images__right_cups-circle {
    right: 315px;
    top: 11px;
  }
  .oxford_images__canvas {
    width: 122px;
    height: 152px;
    top: 562px;
    left: 213px;
  }
  .oxford_images__left {
    top: -69px;
    left: -22px;
  }
  .oxford_images__left_zag {
    top: 37px;
    left: 49px;
  }
  .oxford_images__left_text {
    max-width: 246px;
    top: 108px;
    left: 82px;
  }
  .oxford_images__left_image {
    background-image: url(/image/Oxford2Mobile.jpg);
  }
  .footer_blocks {
    margin-top: 290px;
    grid-column-gap: 11px;
    grid-row-gap: 10px;
  }
  .footer_blocks__big {
    width: 158px;
    height: 145px;
    border-radius: 12px;
  }
  .footer_blocks__big_points {
    display: none;
  }
  .footer_blocks__big_canvas {
    width: 55px;
    height: 79px;
    top: 13px;
    left: 11px;
  }
  .footer_blocks__big_text {
    font-size: 12px;
    left: 11px;
    bottom: 11px;
  }
  .footer_blocks__block1 {
    width: 158px;
    height: 145px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1/2/2/4;
    border-radius: 12px;
  }
  .footer_blocks__block1_canvas {
    width: 55px;
    height: 79px;
    top: 15px;
    left: 14px;
  }
  .footer_blocks__block1_text {
    font-size: 12px;
    left: 11px;
    bottom: 11px;
    padding-right: 15px;
  }
  .footer_blocks__yellow {
    width: 158px;
    height: 145px;
    background: #ffff;
    border-radius: 12px;
  }
  .footer_blocks__yellow_canvas-mobile {
    display: block;
    position: absolute;
    top: 12px;
    left: 8px;
  }
  .footer_blocks__yellow_text {
    font-size: 12px;
    left: 11px;
    bottom: 10px;
  }
  .footer_blocks__yellow_pointer {
    display: none;
  }
  .footer_blocks__yellow_canvas {
    display: none;
  }
  .footer_blocks__block2 {
    width: 158px;
    height: 145px;
    border-radius: 12px;
  }
  .footer_blocks__block2_text {
    font-size: 12px;
    bottom: 9px;
    left: 11px;
  }
  .footer_blocks__block2_canvas {
    width: 55px;
    height: 79px;
    top: 9px;
    left: 12px;
  }
  .footer_blocks__block3 {
    width: 158px;
    height: 145px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3/1/3/4;
    border-radius: 12px;
  }
  .footer_blocks__block3_text {
    font-size: 12px;
    bottom: 10px;
    left: 11px;
    padding-right: 46px;
  }
  .footer_blocks__block3_canvas {
    width: 55px;
    height: 79px;
    top: 13px;
    left: 8px;
  }
  .footer_blocks__block4 {
    width: 158px;
    height: 145px;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: 3/2/3/2;
    border-radius: 12px;
  }
  .footer_blocks__block4_text {
    font-size: 12px;
    bottom: 9px;
    left: 11px;
  }
  .footer_blocks__block4_arrow {
    width: 24px;
    height: 10px;
    top: 17px;
    left: 14px;
  }
  .footer_blocks__block4_text {
    bottom: 9px;
    left: 11px;
  }
  .footer_background {
    -webkit-transform: rotate(334deg);
            transform: rotate(334deg);
    left: -20px;
    top: -4px;
  }
}
/*# sourceMappingURL=style.css.map */