* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header_years {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_years__1969 {
  position: relative;
  margin-left: 196px;
  margin-top: 152px;
  max-height: 200px;
}

.header_years__1969_circle {
  position: absolute;
  top: 9px;
  left: 34px;
  z-index: -1;
}

.header_years__1969_year {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
  margin-bottom: 29px;
}

.header_years__1969_text {
  margin-left: 90px;
  max-width: 448px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header_years__1997 {
  position: relative;
  max-width: 500px;
  min-height: 136px;
  margin-top: 383px;
  margin-left: 12px;
}

.header_years__1997_triangle {
  position: absolute;
  top: -18px;
  left: 11px;
  border-radius: 10px;
  z-index: -1;
}

.header_years__1997_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
  margin-bottom: 15px;
}

.header_years__1997_year-text {
  margin-left: 8px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.header_years__1997_text {
  margin-left: 90px;
  max-width: 405px;
  min-height: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header_years__2008 {
  position: absolute;
  margin-left: 180px;
  max-width: 427px;
  min-height: 725px;
}

.header_years__2008_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
}

.header_years__2008_year-text {
  margin-left: 8px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.header_years__2008_text {
  margin-top: 13px;
  margin-left: 114px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.header_years__2008_canvas {
  position: relative;
  top: 364px;
  left: -178px;
  z-index: -1;
}

.header_years__2008_figure-dotted {
  position: relative;
  left: 288px;
  bottom: 467px;
  min-height: 250px;
  max-width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_years__2008_dotted {
  position: absolute;
  z-index: -1;
}

.header_years__2008_ellipse1 {
  position: relative;
  top: -2px;
}

.oxford_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 145px;
  position: relative;
}

.oxford_images__right {
  min-height: 280px;
  margin-top: 150px;
}

.oxford_images__right_textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 48px;
  background-color: #a5e5f4;
  min-width: 752px;
  min-height: 298px;
  margin-top: -4px;
}

.oxford_images__right_text {
  max-width: 537px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.oxford_images__left {
  margin-top: 474px;
  position: relative;
}

.oxford_images__left_zag {
  position: absolute;
  top: 96px;
  left: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 34px;
  color: #ffffff;
}

.oxford_images__left_text {
  position: absolute;
  top: 163px;
  left: 127px;
  max-width: 321px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}

.oxford_images__canvas {
  position: absolute;
  top: 313px;
  left: 422px;
}
/*# sourceMappingURL=style.css.map */